
.work-title {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Gerbil;
    font-size: 15vw;

}
.spline-vo2 {
    position: absolute;
}
.spline-counselab {
    position: absolute;


}