$desktop: 1024px;

.nav-container {
    @media (max-width: #{$desktop}) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 10vh;
        position: fixed;
        font-family: Kollektif;

    }

    @media (min-width: #{$desktop}) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 10vh;
        position: fixed;
        font-family: Kollektif;
    }
}

.nav-left {
    @media (max-width: #{$desktop}) {
        margin-left: 2vw;
    }

    @media (min-width: #{$desktop}) {
        margin-left: 2vw;
    }
}

.nav-right {
    @media (max-width: #{$desktop}) {
        margin-right: 2vw;
    }

    @media (min-width: #{$desktop}) {
        margin-right: 2vw;
    }
}

.nav-right .nav-link {
    @media (max-width: #{$desktop}) {
        margin-right: 2vw;
    }

    @media (min-width: #{$desktop}) {
        margin-right: 2vw;
    }
}
